.App {
  text-align: center;
  position: relative; /* Thay đổi từ absolute sang relative */
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#root {
  height: 100vh;
}

.leaflet-container {
  height: 100vh;
  width: 100%;
  position: relative;
}

.cluster-icon {
  background-color: #333;
  height: 2em;
  width: 2em;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 1.2rem;
  box-shadow: 0 0 0px 5px #fff;
}


.cluster-icon:hover {
  background-color: #0000FF; 
}


.toggle-btn {
  position: absolute; 
  top: 1.5%;
  left: 4%;
  z-index: 1000; 
  padding: 10px;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
}
/* CSS cho Popup */
.leaflet-popup-content-wrapper {
  background-color: #f9fafb; 
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  padding: 16px; 
  width: 250px;
}


.leaflet-popup-content {
  text-align: left; 
}

.leaflet-popup-content img { 
  width: 100px; 
  border-radius: 50%; 
  margin-bottom: 10px; 
}

.leaflet-popup-content h2 {
  display: flex;
  justify-content: center;
  margin-bottom: 5px; 
  font-size: 18px; 
  font-weight: bold;
  color: #333; 
}

.leaflet-popup-content p {
  font-size: 14px; 
  margin-bottom: 10px; 
  color: #555;
}

/*Ẩn bảng chỉ đường*/
.leaflet-routing-container {
  display: none !important;
}