.App {
  text-align: center;
  position: relative; /* Thay đổi từ absolute sang relative */
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#root {
  height: 100vh;
}

.leaflet-container {
  height: 100vh;
  width: 100%;
  position: relative; /* Thêm để các phần tử con có thể sử dụng position: absolute */
}

.cluster-icon {
  background-color: #333;
  height: 2em;
  width: 2em;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 1.2rem;
  box-shadow: 0 0 0px 5px #fff;
}


.cluster-icon:hover {
  background-color: #d55312; 
}


.toggle-btn {
  position: absolute; /* Vẫn sử dụng absolute cho nút */
  top: 10px;
  right: 10px;
  z-index: 1000; /* Đảm bảo nút hiển thị trên cùng */
  padding: 10px;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
}
/* CSS cho Popup */
.leaflet-popup-content-wrapper {
  background-color: #f9fafb; /* Màu nền nhẹ nhàng */
  border-radius: 8px; /* Bo tròn góc */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Đổ bóng */
  padding: 16px; /* Khoảng cách bên trong popup */
  width: 250px; /* Độ rộng popup */
}


.leaflet-popup-content {
  text-align: left; /* Căn trái nội dung */
}

.leaflet-popup-content img {
  width: 100px; /* Kích thước ảnh */
  border-radius: 50%; /* Làm tròn ảnh */
  margin-bottom: 10px; /* Khoảng cách với nội dung dưới */
}

.leaflet-popup-content h2 {
  margin-bottom: 5px; /* Khoảng cách với nội dung dưới */
  font-size: 18px; /* Kích thước tiêu đề */
  font-weight: bold; /* Đậm */
  color: #333; /* Màu chữ */
}

.leaflet-popup-content p {
  font-size: 14px; /* Kích thước văn bản */
  margin-bottom: 10px; /* Khoảng cách với nội dung dưới */
  color: #555; /* Màu chữ */
}
