.right-menu {
    position: absolute;
    bottom: 20px;
    right: 20px;
    display: flex;
    z-index: 1000;
    flex-direction: column;
  }
  
  .dropdown {
    position: relative;
    margin-bottom: 10px;
  }
  
  .dropdown-toggle {
    background-color: #3498db;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
  }
  
  .dropdown-content {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    background-color: #f9f9f9;
    min-width: 160px;
    z-index: 1;
  }
  
  .sub-dropdown-toggle {
    background-color: #ddd;
    color: #333;
    padding: 10px;
    border: none;
    cursor: pointer;
  }
  
  .sub-dropdown-content {
    display: flex;
    flex-direction: column;
    background-color: #f9f9f9;
    min-width: 160px;
  }
  